@keyframes goTo {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(5deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(-5deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes changeRotate {
  0% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(25deg);
  }
  50% {
    transform: rotateY(0deg);
  }
  75% {
    transform: rotateY(-25deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
body {
  background-color: white;
  min-width: 500px;
}
#box {
  width: 100% ;
  position: absolute;
  display: flex;
  z-index: 999;
  margin-top: 20px;
  padding-bottom: 20px;
}
#box .left {
  margin-left: 20px;
  flex: 1;
}
#box .left img {
  width: 100%;
  display: block;
}
#box .right {
  margin-right: 20px;
  flex: 8;
  background-color: transparent;
  border-left: 3px solid #244664;
  box-sizing: border-box;
}
.left ul {
  padding: 20px;
}
.left ul li {
  margin: 10px 0;
}
.left ul li span {
  color: #3c546a;
  display: inline-block;
  width: 80px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border: 1px solid #333f51;
  font-size: 14px;
  cursor: pointer;
}
.left ul li span:hover {
  background-color: black;
  color: white;
}
.right header {
  padding-left: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-image: url(../img/2.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: white;
}
.right header h1 {
  color: white;
  font-size: 24px;
  font-weight: normal;
}
.right header div {
  color: white;
  line-height: 36px;
  font-size: 14px;
}
.right .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
}
.right .tel {
  height: 40px;
  line-height: 40px;
  border-bottom: 3px solid #333f51;
  box-sizing: border-box;
  font-size: 0;
  padding-left: 18px;
}
.right .tel div {
  display: inline-block;
  font-size: 12px;
  margin-left: 22px;
}
.right .tel div img {
  width: 16px;
  height: 16px;
  margin-top: 13px;
}
.right .tel div span {
  margin-left: 6px;
}
.right .content .cont {
  width: 300px;
  height: 200px;
  border-radius: 5px;
  margin: 20px 0;
  box-shadow: 0 0 10px red;
  background-color: white;
}
.right .content .cont h2 {
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  box-shadow: 0 0 10px red;
}
.right .content .cont ul {
  margin-top: 3px;
}
.right .content .cont .about li {
  padding-left: 20px;
  font-size: 14px;
  line-height: 24px;
}
.cont:nth-of-type(odd) {
  animation: goTo 5s infinite;
}
.cont:nth-of-type(even) {
  animation: changeRotate 5s infinite;
}
.cont ul span {
  display: inline-block;
  width: 70px;
  text-align: right;
  padding-right: 10px;
}
.cont ul span:after {
  content: ' | ';
  display: inline-block;
  margin-left: 10px;
}
._p {
  font-size: 14px;
  text-indent: 2rem;
  line-height: 1.5rem;
  margin-top: 3px;
  padding: 0 8px;
}
.p1 {
  font-size: 14px;
  line-height: 36px;
}
.p1 span {
  padding-right: 10px;
  width: 150px;
  display: inline-block;
  text-align: right;
}
.p1 span:after {
  content: ' | ';
  display: inline-block;
  margin-left: 10px;
}
.job {
  font-size: 14px;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.ele {
  padding-left: 20px;
}
.ele li em {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  width: 100px;
  font-size: 14px;
  margin-right: 10px;
}
.ele li div {
  width: 160px;
  display: inline-block;
  height: 16px;
  border: 1px solid black;
  vertical-align: top;
  margin-top: 3px;
  border-radius: 3px;
  background-color: #ccc;
}
.loving {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
}
.loving p {
  margin-top: 10px;
  text-indent: 2rem;
  line-height: 24px;
}
#canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: white;
}
/*# sourceMappingURL=index.css.map */